js-blue = #34495e
js-gray = #FEFEFE
js-dark-gray = #7f8c8d
js-light-blue = #3498db
js-dark-blue = #2c3e50
js-dark-green = #16a085

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments
  
.center
	text-align center
